@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/lotr-background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(2px);
}